<div class="col-lg-12">
<h1 class="center">ABOUT US</h1>

<!-- <p>We know how important it is to make the business case for digital marketing. At Digital Reach, our focus is on keyword-level B2B data attribution, tracking your customers’ actions through the funnel and providing clarity into KPIs and ROI. We’ll help you construct a detailed map of the buyer journey, from raw leads, to marketing qualified leads (MQLs), to sales qualified leads (SQLs), to closed/won business. In-depth tracking and complete transparency are hallmarks of our digital marketing services, helping you track KPIs in real-time and transforming digital marketing into a reliable revenue-center. We’ll help you track to revenue, simplifying and demystifying the digital marketing experience and presenting it in terms of clear dollars-and-cents ROI.

Digital Reach was founded in 2011 after a series of bad experiences with other digital marketing agencies. Many competitors companies maintained (and still maintain) policies that are distinctly consumer unfriendly, including:

Limiting access to data
Reverting changes upon end of service agreement
Inflexible and unfair contracts
Poor communication and slow service
At Digital Reach, we want to do things differently. We will never restrict your access or hold your account hostage, and our support is always fast and reliable. The modern B2B company needs expert support and top-level strategy without delays, and our team of experienced industry veterans is always ready to assist.

Today, Digital Reach is a full service digital marketing agency with market expertise in SEM, SEO, Analytics, Web Development, Marketing Automation, and more. And, while we have grown in size and regularly offer new services, we still strive to maintain the same business principles that made us successful in the first place.

At Digital Reach, we bring our top-tier expertise and premium quality service to a wide array of enterprise and B2B partner companies. Our experience is cross-vertical and we’ve worked with companies in all stages of development, so we can help you achieve growth no matter what your short-term and long-term objectives are. Whatever your business goals, we can help drive growth, provide clarity into KPIs, and help your marketing campaigns succeed.
</p> -->
<div class="col-lg-8">
<h3 class="lead">
After 5+ years as an analyst at Google and Metromile, Brian could no longer ignore the entrepreneurial itch that is so contagious in the Bay Area. He traded in his digital marketing day-to-day in exchange for a head-first dive into the world of web development. He graduated from an elite coding school in February 2016, and immediately began actively pursuing his entrepreneurial ambitions as a founder of <a href="www.citizendebate.org">www.citizendebate.org</a> and <a href="www.rentmasters.co">Rent Masters</a>. Only after growing those businesses from scratch did Brian appreciate how critically valuable was his knowledge of the digital marketing ecosystem for early stage businesses. Bensch & Associates was founded in June 2016 to enable fellow entrepreneurs to easily and effectively establish their digital marketing programs.
</h3>
<h3>
-Brian Bensch, Founder & CEO
</h3>
</div>
<div class="col-lg-4">
<img class="img-responsive img-cvp" src="assets/profile.jpg" alt="">
</div>
</div>
