<h4>
    Freelance hackers hate to recreate the wheel... As such, pardon the inconsistent look & feel below, but otherwise feel free to enjoy the bio and blog that was my very first website and can also be found at <a href="http://bbensch09.github.io/" > http://bbensch09.github.io/</a>, or likewise feel free to check out my GitHub profile at <a href="https://github.com/bbensch09">github.com/bbensch09</a>.
</h4>
<iframe class="about-me-iframe" src="http://bbensch09.github.io/"></iframe>
