 <div class="content-section-b">
        <div class="container cl-b">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="feature_header">
                            <h2 class="section-heading text-left"> <b>How it works</b></h3>
                            <h3 class="lead">
                            As founders, we are firm believers in the lean startup process, and appreciate your willingness to help us validate our learnings quickly. The idea behind <b> Fare Feedback </b> hopefully needs very little explanation. You get a cheap ride somewhere (for now, just to or from the airport), and in exchange you share your genuine feedback with an early stage founder.
                            </h3>
                            <h3 class="lead">
                            Our origin story is also quite simple. We have been working on two early-stage startups (<a href="www.citizendebate.org">www.citizendebate.org</a> and <a href="www.rentmasters.co"> www.rentmasters.co</a>) for the last few months, and have recognized how important it is for early stage founders to connect with the right prospective customers and advisors. We also think that as pervasive as Twitter, Facebook, and online dating apps are today, it's still actually quite difficult to connect with the right people who can give you crucial feedback when you need it most. Additionally, as scrappy founders seeking to extend our financial runway, we've each signed up to drive for <a href="https://www.uber.com/signup/drive/us/?invite_code=vwhyu">Uber</a> and <a href="https://www.lyft.com/drivers/BRIAN031972">Lyft</a>, and have been pleasantly surprised by the quality of conversations we've had with our passengers. In fact, I recently met a Donald Trump supporter in an UberPool (they do exist in San Francisco, believe it or not!) who provided invaluable feedback about Citizen Debate. And that was purely by chance. We believe that by intelligently matching passengers with founders based on their unique needs and experiences, we can facilitate many such magic moments. We hope you agree.
                            </h4>

                            <div class="divider"></div>
                <hr>

                        <div class="feature_header">
                            <h2 class="section-heading text-left"> <b> Sounds great, how do I sign up?</b></h2>
                        </div>
                        <div class="col-sm-6 col-lg-4 col-lg-offset-4 center">
                            <a href="/users/new" class="btn btn-hero">
                                Register for the beta
                            </a>
                        </div>
                        </div>
                    </div>  <!-- Col-md-12 End -->
                </div>
            </div>  <!-- Row End -->
        </div>  <!-- Container End -->
    </div>
