 <div class="content-section-b">
        <div class="container cl-b">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="feature_header">
                            <h2 class="section-heading text-left"> <b>How it works</b></h3>
                            <h3 class="lead">
                            Here at ShareTheEconomy, we believe in making in empowering the modern freelancer on their path toward financial freedom. At the end of the day, we are running a glorified blog. But in the blog you will hopefully find useful insights that help you optimize your earnings in the sharing economy. Throughout our posts you will often find <b>promotional referral links</b>. If you find the content of our site useful, we encourage you to use these referral links when you sign up for {Uber | Lyft | Door Dash | GetAround | WeWork | Thumbtack | etc}. When you do so, two things happen:
                            </h4>
                            <ol class="text-medium">
                                <li>
                                    You'll get a sweet bonus, and then some. We give you back an additional 25% from our half of the two-sided referral (i.e. if Uber gives both parties a $1,000 bonus, we give you an extra $250).
                                </li>
                                <li>
                                    You'll designate a charity of your choice for which you'd like to donate the remaining 25%. We currently have relationships with the <a href="http://www.redcross.org/local/california/northern-california-coastal">Red Cross</a>, <a href="http://www.habitatgsf.org/">Habitat for Humanity</a>, and <a href="http://build.org/">BUILD.org</a>, but we are also happy to work directly with you if you have another preferred charity you'd like to support.
                                </li>
                            </ol>
                            <div class="divider"></div>
                <hr>
                        </div>
                    </div>  <!-- Col-md-12 End -->
                </div>
                <div class="row">
                    <div class="feature_header">
                        <h2 class="section-heading text-left"> <b> Sounds great, what else should I expect?</b></h2>
                    </div>
                    <div class="main_feature text-center">
                        <div class="col-md-3 col-xs-12 col-sm-6">
                                <div class="feature_content steps-box">
                                    <!-- <i class="fa fa-lightbulb-o"></i> -->
                                    <h3 class="feature_steps">Step 1:<br>
                                    <span class="feature_steps_title"> Sign up with referral link </span> </h3>
                                    <p>
                                    If you're new to freelancing, don't go too crazy at once. You could try a new gig every month and not run out of options for more than 2 years.
                                    </p>
                                </div>
                            </div>
                        <div class="col-md-3 col-xs-12 col-sm-6">
                                <div class="feature_content steps-box">
                                    <!-- <i class="fa fa-pencil"></i> -->
                                    <h3 class="feature_steps">Step 2:<br>
                                    <span class="feature_steps_title"> Email confirmation </span> </h3>
                                    <p>We will confirm via email that you have intentionally used our referral code, and are aware of the minimum requirements to be eligible for the promotion. </p>
                                    <div class="btn-bottom">
                                    </div>
                                </div>
                        </div> <!-- Col-md-4 Single_feature End -->
                        <div class="col-md-3 col-xs-12 col-sm-6">
                                <div class="feature_content steps-box">
                                    <!-- <i class="fa fa-cog"></i> -->
                                    <h3 class="feature_steps">Step 3:<br>
                                    <span class="feature_steps_title"> Fulfill the requirements </span> </h3>
                                    <p>With ride-sharing, there's usually a minimum number of rides given. Or with AirBNB, it's after your first rental is completed, etc. </p>
                                    <div class="btn-bottom">
                                    </div>
                                </div>
                        </div> <!-- Col-md-4 Single_feature End -->
                        <div class="col-md-3 col-xs-12 col-sm-6">
                                <div class="feature_content steps-box">
                                    <!-- <i class="fa fa-desktop"></i> -->
                                    <h3 class="feature_steps">Step 4:<br>
                                    <span class="feature_steps_title"> Share your startup spoils </span> </h3>
                                    <p>You can expect to receive your 25% bonus via Paypal within 3 business days of completing your eligibility requirements. At that time we will also share a receipt of the 25% donation made in your name.</p>
                                    <div class="btn-bottom">
                                    </div>
                                </div>
                        </div> <!-- Col-md-4 Single_feature End -->
                        <!-- <button class="btn btn-main"> Read More</button> -->
                    </div>
            </div>  <!-- Row End -->
        </div>  <!-- Container End -->
    </div>
