<div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 class="hero">Deliver the right ad to the right person, at the right time.</h1>
                        <h3 class="hero"></h1>
                        <h2  class="center">Ad tech made easy</h2>
                        <hr class="intro-divider">
                        <div class="col-sm-6 col-sm-offset-4 col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4">
                        <ul class="list-inline intro-social-buttons">
                            <li class="col-lg-12 center">
                                <a href="/users/new" class="btn btn-hero">
                                 Get Started
                                </a>
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

<div>
    <%= render partial: "articles/show" %>
</div>

    <!-- Core value prop -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 cvp-boxes">
                    <h1>
                        <img class="img-responsive img-cvp" src="assets/linkedin.jpg" alt="">
                    </h1>
                    <h2 class="center">
                        Target by Job Title
                    </h2>
                    <p>
                        Does your business offer a cutting edge solution for FinTech sales managers? Or Florida tax accountants? If you can find your customers on LinkedIn, we can find them online.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 cvp-boxes">
                    <h1>
                        <img class="img-responsive img-cvp" src="assets/ltv.jpg" alt="">
                    </h1>
                    <h2 class="center">
                        Maximize Customer Lifetime Value
                    </h2>
                    <p>
                        Email marketing <b>may be dying</b>, but your email still has incredible value. We match your customers' emails with their online profiles and enable you to re-activate and retain your previous customers.
                    </p>
                </div>
                <div class="col-lg-4 col-lg-offset-0 col-md-4 col-sm-6 col-sm-offset-3 cvp-boxes">
                    <h1>
                        <img class="img-responsive img-cvp" src="assets/automation.jpg" alt="">
                    </h1>
                    <h2 class="center">
                        Automation Wins
                    </h2>
                    <p>
                        From our free account health audit to our automated bidding algorithm and reporting dashboards, our software and our service enable your marketing dollars to go further.
                    </p>
                </div>

            </div>
        </div>
        <!-- /.container -->

    </div>

    <!-- Page Content -->
    <!-- <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h1 class="section-heading">Feedback is a Gift</h1>
                    <h3>...that has tangible financial value.</h3>
                    <p class="lead">$40B is spent annually on market research in the US. For scrappy early stage founders, focus groups are both expensive and less effective than a meaningful one-on-one conversation with an expert in their field.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                    <img class="img-responsive" src="assets/FFB-gift.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h1 class="section-heading">The sharing economy should involve more sharing.</h1>
                    <p class="lead">...and less sitting in the backseat with your headphones on while checking Facebook. While we neither do fist bumps nor share any of your personal information with your driver, we do expect you to engage in a genuine conversation.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive vertical-padding" src="assets/FFB-backseat.png" alt="backseat">
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Innovation is everywhere.</h2>
                    <p class="lead">The road ahead is full of unknowns. Only time will tell how <a href="/how-it-works">this crazy idea</a> will evolve. Sign up today, and help us shape the future of the sharing economy.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-0 col-sm-6">
                    <img class="img-responsive" src="assets/ipad_pro_roundup.jpg" alt="">
                </div>
            </div>
        </div>
    </div> -->
<div class="col-sm-8 col-sm-offset-3 col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-xs-maxwidth center">
<a href="/users/new" class="btn btn-hero">
    Request your Free Audit
</a>
</div>




