
    <!-- Page Content -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h1>Share the Economy</h1>
                        <h2>A new (ad)venture in distributing the spoils of the Silicon Valley.</h2>
                    <h2 class="section-heading">Value Prop #1:<br>Why XXX is a problem</h2>
                    <p class="lead">There are thousands of puppy dogs suffering from XXX today.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="assets/dog.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

<div>
    <%= render partial: "articles/show" %>
</div>


