<div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 class="hero">You want a $5 ride to the airport?</h1>
                        <h1 class="hero">Our founders need your feedback.</h1>
                        <h2  class="center">We think that sounds <em>fare</em>.</h2>
                        <hr class="intro-divider">
                        <div class="col-sm-6 col-lg-4 col-lg-offset-4">
                        <ul class="list-inline intro-social-buttons">
                            <li class="col-lg-12 center">
                                <a href="/users/new" class="btn btn-hero">
                                 Get Started
                                </a>
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

<div>
    <%= render partial: "articles/show" %>
</div>

    <!-- Core value prop -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 cvp-boxes">
                    <h1>
                        <img class="img-responsive img-cvp" src="assets/calendar.png" alt="">
                    </h1>
                    <h2 class="center">
                        Schedule in advance
                    </h2>
                    <p>
                        Book ahead and <b>avoid unpredictable surge pricing</b>. Flight delayed? No problem, your driver has your real-time flight info, and will know exactly when to be there.
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 cvp-boxes">
                    <h1>
                        <img class="img-responsive img-cvp" src="assets/expertise.png" alt="">
                    </h1>
                    <h2 class="center">
                        Share your expertise
                    </h2>
                    <p>
                        We all have areas of <b>expertise worth sharing</b>. The secret sauce of Fare Feedback is our proprietary matching algorithm, which pairs you with founders in need of your feedback and perspective.
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 cvp-boxes">
                    <h1>
                        <img class="img-responsive img-cvp" src="assets/next-big-thing2.jpg" alt="">
                    </h1>
                    <h2 class="center">
                        Discover the future
                    </h2>
                    <p>
                        Our drivers are all early stage founders. Rather than spending 20 minutes on your phone, you could have a conversation with a founder, and be the ones telling your friends about <b>the next big thing</b>.
                    </p>
                </div>

            </div>
        </div>
        <!-- /.container -->

    </div>

    <!-- Page Content -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h1 class="section-heading">Feedback is a Gift</h1>
                    <h3>...that has tangible financial value.</h3>
                    <p class="lead">$40B is spent annually on market research in the US. For scrappy early stage founders, focus groups are both expensive and less effective than a meaningful one-on-one conversation with an expert in their field.</p>
                    <!-- <p>Source: http://www.statista.com/topics/1293/market-research/</p> -->
                </div>
                <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                    <img class="img-responsive" src="assets/FFB-gift.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h1 class="section-heading">The sharing economy should involve more sharing.</h1>
                    <p class="lead">...and less sitting in the backseat with your headphones on while checking Facebook. While we neither do fist bumps nor share any of your personal information with your driver, we do expect you to engage in a genuine conversation.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive vertical-padding" src="assets/FFB-backseat.png" alt="backseat">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Innovation is everywhere.</h2>
                    <p class="lead">The road ahead is full of unknowns. Only time will tell how <a href="/how-it-works">this crazy idea</a> will evolve. Sign up today, and help us shape the future of the sharing economy.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-0 col-sm-6">
                    <img class="img-responsive" src="assets/ipad_pro_roundup.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
<div class="col-sm-6 col-lg-4 col-lg-offset-4 center">
<a href="/users/new" class="btn btn-hero">
    Sign up for early access
</a>
</div>




