.content-area header p {
  font-size: 1.3em;
  line-height: 1.5;
}

.content-area header ol li p span strong {
  font-size: 1.3em;
  line-height: 1.5;
}
.btn-large{
  font-size: 2em !important;
  margin-left:30vw;
  margin-right:auto;
}
@media screen and (max-width:767px) {
    .btn-large{
  font-size: 2em !important;
  margin-left:auto;
  margin-right:auto;
  }
}
