.content-area header p, .content-area p, .content-area header ol li p span strong {
  font-size: 1.45em;
  line-height: 1.6;
  /*font-weight: 300;*/
}

.btn-large{
  font-size: 2em !important;
  margin-left:30vw;
  margin-right:auto;
}
@media screen and (max-width:767px) {
    .btn-large{
  font-size: 2em !important;
  margin-left:auto;
  margin-right:auto;
  }
}
