// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width:767px) {
    .above-nav-header {
        text-align: center;
        background: url("https://s3.amazonaws.com/farefeedback/FFB-header-mobile.png") no-repeat center center;
        background-size: contain;
        height:100px;
        z-index: 4;
    }

}
@media screen and (min-width:767px) {
    .above-nav-header {
        text-align: center;
        color: #f8f8f8;
        background: url("https://s3.amazonaws.com/farefeedback/FFB-header-desktop.png") no-repeat center center;
        /*background-size: cover;*/
        background-color: #fff;
        height:100px;
        z-index: 4;
    }
}
.lead {
    font-size: 18px;
    font-weight: 400;
}
.navbar {
    margin-bottom: 0px !important;
    border: none !important;
}
.navbar-default, .container-nav {
    background-color: #4f4b4d !important;
}
.navbar-default .navbar-nav>li>a {
    color: #fff !important;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #777 !important;
}

.intro-message {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
    text-align: center
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.btn-hero {
  padding: 20px 28px;
  font-size: 36px;
  line-height: 2 !important;
  border-radius: 12px !important;
  background-color: #ff00bf;
  color: #fff !important;
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
        padding-top:20px;
    }

    .intro-message > h1 {
        font-size: 2.5em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
    .btn-hero {
    font-size: 28px !important;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    margin-top:30px;
    margin-bottom:30px;
    background-color: #fff;
}

.content-section-b {
    margin-top:30px;
    margin-bottom:30px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}
/* PRicing TAble Features
================================== */
.pricing_overlay {
    position: relative;
}

.pricing_overlay:before {
    content: "";
    background: rgba(0,0,0,.1);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

#pricing_table {
    background: url("../images/bg/1.jpg")fixed center center;
    background-size: cover;
}

.dark_bg {
    position: relative;
}

.plan {
    font-weight: 700!important;
}

.price {
    font-weight: 500!important;
}

.single_table {
    background: #FFFFFF;
    float: left;
    -webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    width: 90%;
    left: 10%;
    /*right: 5%;*/
    position: relative;
}
@media(min-width:300px) {

.single_table {
    background: #FFFFFF;
    float: left;
    -webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    width: 300px;
    left: -70px;
    margin: 50px auto;
    position: relative;
}

}

@media(min-width:900px) {

.single_table {
   background: #FFFFFF;
    float: left;
    -webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    width: 372px;
    margin: 50px auto;
    position: relative;
}

}

.single_table ul li {
    padding: 15px 30px;
    border-bottom: 1px solid #e6e6e6;
    color: #434343;
    font-size: 18px;
}

.single_table ul li:first-child,
.single_table ul li:last-child {
    border-bottom: 0px;
}

.single_table ul li.plan {
    color: #006caf;
    font-size: 25px;
    padding: 25px 0px;
}

.single_table ul li.plan span {
    font-size: 14px;
}

.single_table ul li.price {
    font-size: 50px;
    font-family: "Raleway";
    padding: 35px 0px;
}

.single_table ul li.price span {
    font-size: 30px;
}

.single_table ul li.price_button .btn-default {
    background: #444444;
    border-radius: 0px;
    color: #fff;
    padding: 10px 18px;
}

/* Grey Bg */
.grey_bg {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 2;
}

.grey_bg ul li.plan {
    padding: 45px 0px !important;
}

.grey_bg .btn-slide {
    color: #fff;
}

/* Black Bg */
.dark_bg ul li.plan {
    color: #006caf;
    font-size: 2em;
    padding: 25px 0px;
}
/*.dark_bg ul li.price {
    color: #434343;
}
.dark_bg ul li.price_button {
    background: #F6F6F6;
}
.dark_bg ul li.price_button .btn-default {
    background: #434343;
}*/
.single_table ul li.plan {
    font-size: 2em;
    color: #006caf;
    position: relative;
    z-index: 1;
}

.single_table .plan_wrapper {
    /*background: none repeat scroll 0 0 #434343;*/
    content: "";
    height: 70px;
    left: 40%;
    position: absolute;
    top: 40px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 70px;
    z-index: 1;
    overflow: hidden;
}

.grey_bg .plan_wrapper {
    content: "";
    height: 70px;
    left: 40%;
    position: absolute;
    top: 75px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 70px;
    z-index: 1;
    overflow: hidden;
}

.dark_bg .plan_wrapper {
    /*background:  #434343!important;*/
    content: "";
    height: 70px;
    left: 41%;
    top: 38px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 70px;
    z-index: 1;
    overflow: hidden;
    position: absolute;
}

.single_table ul {
    list-style: none !important;
}

.price_button .btn-main {
    margin: 0px!important;
}
.about-me-iframe{
    width:90vw;
    border: 1px solid gray;
    min-height: 100vh;
}
.text-medium{
    font-size: 1.5em;
    line-height: 1.5;
}
.feature_steps{
    min-height: 100px;
}
.feature_steps_title{
    font-size: 1.3em;
}
.list-inline>li {
    margin-left: 0%;
}
.cvp-boxes{
    border: 1px solid gray;
    height: 400px;
}
.img-cvp{
    height:200px !important;
    margin:auto;
}
.signup-cta{
    margin-top:20vh;
    margin-left: auto;
}
.input-group{
    display: inline !important;
}
.input-group-lg{
    height: 64px;
    padding: 10px 16px;
    font-size: 32px;
    line-height: 1.3333333;
}
.btn-group-lg>.btn, .btn-lg {
    font-size: 30px !important;
    line-height: 1.3333333;
    border-radius: 6px;
}
.btn-signup{
    color: #333;
    background-color: #34f209;
    border-color: #ccc;
}
.btn-signup:hover{
    color: #fff !important;
    background-color: #000;
    border-color: #ccc;
}
.hero-bg{
    background-color: rgba(255, 0, 191,.5);
    height: 100vh;
    top: 0;
    left:-5vw;
    width: 105vw;
    position: relative;
    z-index: 3;
    /*border: 1px solid #ff00bf;*/
}
#signup-container{
    z-index: 10;
}
.signup-title{
    color: #000;
    font-size: 1.2em;
}
.instructions{
    font-style: italic;
}
.vertical-padding{
    padding-top:40px;
}
